<component name="ArtifactManager">
  <artifact type="war" name="springboot-rocketmq:war">
    <output-path>$PROJECT_DIR$/springboot-rocketmq/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot-rocketmq</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="rocketmq-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-rocketmq:war exploded" />
    </root>
  </artifact>
</component>